<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Все посты найденные по запросу "{{ substring }}"</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<main>

    <a href="{{ url_for('main_blueprint.main_index') }}" class="link">Назад</a>

    <h1>Посты по запросу "{{ substring }}"</h1>

    {% for post in posts %}

        <div class="post">
            <img src="{{ post.pic }}" width="100%" alt="">
            <p>{{ post.content }}</p>
        </div>
        <hr>

    {% endfor %}

    <a href="{{ url_for('loader_blueprint.loader_form') }}" class="button">Добавить пост</a>

</main>
</body>
</html>
